body {
  margin: 0;
  text-align: center;
}
.top {
  background-color: #EAE0DA;
  position: relative;
  padding-top: 100px;
}
h1 {
  margin-top: 0;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

